<template>
    <main>
      <nav class="navbar bgc-secondary" >
        <a href=""><img src="../../../assets/logo-clickO.png" width="75px" height="50px"></a>
        <button class="btn bg-white" @click="cerrarGoogle" >cerrar sesión</button>
      </nav>
        <div class="d-flex justify-content-center my-5" >
          <div class="bg-white my-3 py-5 px-5 my-5" style="width:450px;" >
            <div class="col-sm-12 text-center" >
              <span class="h4" >Bievenidio</span>
            </div>
            <div class="mt-5 mb-2 text-center" >
              <img src="../../../assets/icon/configShop.png" width="200px" height="200px" >
              <br>
              <span class="h5" >Panel de Cliente</span>
            </div>
            <div class="col-sm-12 border-bottom" ></div>
            <div class="col-sm-12 text-center my-3" >
              <button class="btn bgc-secondary text-white" >ir de compras</button>
            </div>
          </div>
        </div>
    </main>
</template>

<script>

import index from './config/index'

// de acuerdo al primese con las constantes
// funciones del archivo index

export default {
  name: 'sesionActivo',
  data(){

    return{

      gapi:"",
      usuario:"",

    }

  },
  async mounted(){

    this.gapi = await this.$getGapiClient();

    this.usuario = this.$router.params.usuario;

  },
  methods:{

     async cerrarGoogle(){
  
        var auth2 = this.gapi.auth2.getAuthInstance();

        auth2.signOut();

        setTimeout(()=>{
          
         this.$router.push({name:'cuenta'})
          
        }, 1000)

    },

    async createMensaje (){

      const mjs = await index.mensaje(this.usuario)

      console.log(mjs);

    }

  }

}
</script>
