<template>
    <main>
        <topSesion :btnSesion="btnSesion" ></topSesion>
        <div class="container" id="pnRegistro" >
            <div  v-if="tipoRegistro" class="bg-white" >
                <div class="col-sm-12 text-center pt-5" >
                    <span class="h5" >¿Cómo te gustaría registrarte?</span>
                </div>
                <div class="d-flex justify-content-center p-5" >
                    <div class="col-sm-4 mr-2  text-center px-0"  >
                        <div class="col-sm-12 bgc-primary text-white py-2" >
                             <span class="h6" >Cliente</span>
                        </div>
                        <div class="col-sm-12 cr-pointer hover-color" @click="selectCliente" >
                            <img src="../../../assets/icon/bolsa-de-la-compra.png" class="imgRegistros my-3" >
                        </div>
                        <div class="col-sm-12 text-center hover-optiones cr-pointer"  :class="{ 'color-option':descripCliente }"  @click="descrCliente" >
                            <span class="h3" >
                                <i class="fa fa-caret-down" aria-hidden="true" v-if="!descripCliente" ></i>
                                <i class="fa fa-caret-up" aria-hidden="true" v-if="descripCliente"></i>
                            </span>
                        </div>
                        <div class="col-sm-12 text-justify py-2 px-1" v-if="descripCliente" >
                            <span class="text-muted" >Al selecionar esta opción te convertiras en un comprador del producto. </span>
                            <span class="text-muted" >Con esta inscripción podrás ver, opinar, calificar y comprar productos existentes de diferentes tiendas</span>
                        </div>
                    </div>  
                    <div class="col-sm-4 ml-2 text-center px-0" @click="selectTienda" >
                        <div class="col-sm-12 bgc-primary text-white py-2" >
                             <span class="h6" >Tienda</span>
                        </div>
                        <div class="col-sm-12 text-center cr-pointer hover-color" > 
                            <img src="../../../assets/icon/012-store.png" class="imgRegistros my-3" >
                        </div>
                        <div class="col-sm-12 text-center hover-optiones cr-pointer" :class="{ 'color-option':descripTienda }" @click="descrTienda" >
                            <span class="h3" >
                                <i class="fa fa-caret-down" aria-hidden="true" v-if="!descripTienda" ></i>
                                <i class="fa fa-caret-up" aria-hidden="true" v-if="descripTienda"></i>
                            </span>
                        </div>  
                         <div class="col-sm-12 text-justify py-2 px-1" v-if="descripTienda" >
                            <span class="text-muted" >Al selecionar esta opción te convertiras en un comprador del producto. </span>
                            <span class="text-muted" >Con esta inscripción podrás ver, opinar, calificar y comprar productos existentes de diferentes tiendas</span>
                        </div>
                    </div>
                </div>
            </div>
            <registros v-if="registroCliente"></registros>
            <registros v-if="registroTienda"></registros>
        </div>
    </main>
</template>
<style>

@import 'style/index.css';

</style>
<script>

import topSesion from '../../../views/top/topSesion'

import registros from './components/registro-global'

export default{

    name:'pnRegistro',
    components:{

        registros,
        topSesion

    },
    data(){

        return{

            tipoRegistro:true,
            registroCliente: false,
            descripCliente:false,
            descripTienda:false,
            registroTienda: false,
            btnSesion:true

        }

    },
    methods:{

        descrCliente(){

            this.descripTienda = false
            this.descripCliente = !this.descripCliente

        },
        descrTienda(){

            this.descripCliente = false
            this.descripTienda = !this.descripTienda

        },
        selectCliente(){

        this.tipoRegistro = false
        this.registroCliente = true
        
        },
        selectTienda(){

        this.tipoRegistro = false
        this.registroTienda = true

        }

    }
    

}

</script>
