<template>
    <main>
        <div class="dvMenuFloat text-left" >
                <div class="col-sm-12 text-white pt-4" >
                    <span class="h4" >Ventas</span>
                </div>
                <div class="col-sm-12 px-4 pt-4" >
                    <span style="color:#3E3E3E;" >Filtros</span>
                </div>
                <div class="col-sm-12 px-4 py-3 text-white subMains" >
                    <span>Resumen</span>
                </div>
                <div class="col-sm-12 px-4 py-3 text-white subMains" >
                    <span>Mis compras</span>
                </div>
            </div>
        </main>
</template>
<script>
export default({
    name:'mainbuy'
})
</script>