<template>
    <main>
        <div class="dvMenuFloat text-left "   >
                <div class="col-sm-12 text-white pt-4" >
                    <span class="h4" >Configuraciones</span>
                </div>
                <div class="col-sm-12 px-4 pt-4" >
                    <span style="color:#3E3E3E;" >Filtros</span>
                </div>
                <div class="col-sm-12 px-4 py-3 text-white subMains" >
                    <span>Mis datos</span>
                </div>
                <div class="col-sm-12 px-4 py-3 text-white subMains" >
                    <span>Privacidad</span>
                </div>
                <div class="col-sm-12 px-4 py-3 text-white subMains" >
                    <span>Notificaciones</span>
                </div>
            </div>
        </main>
</template>
<script>
export default({
    name:'maincog'
})
</script>