<template>
    <main>
        <div class="dvMenuFloat col-sm-12 text-left" >
                <div class="col-sm-12 text-white pt-4" >
                    <span class="h4" >Ventas</span>
                </div>
                <div class="col-sm-12 px-4 pt-4" >
                    <span style="color:#3E3E3E;" >Filtros</span>
                </div>
                 <router-link :to="{ name: 'adminRem' }" >
                <div class="col-sm-12 px-4 py-3 text-white subMains" >
                    <span>Resumen</span>
                </div>
                </router-link>
                <router-link :to="{ name: 'adminpublic' }" >
                <div class="col-sm-12 px-4 py-3 text-white subMains" >
                    <span>Publicaciones</span>
                </div>
                </router-link>
                <router-link :to="{ name: 'adminestas' }" >
                <div class="col-sm-12 px-4 py-3 text-white subMains" >
                    <span>Estadistica</span>
                </div>
                </router-link>
                <router-link :to="{ name: 'adminpromos' }" >
                <div class="col-sm-12 px-4 py-3 text-white subMains" >
                    <span>Promoción</span>
                </div>
                </router-link>
                <router-link :to="{ name: 'adminSeg' }" >
                <div class="col-sm-12 px-4 py-3 text-white subMains" >
                    <span>Seguimiento Cliente</span>
                </div>
                </router-link>
            </div>
        </main>
</template>
<script>
export default({
    name:'mainshell'
})
</script>