<template>
    <main>
        <mainlat class="col-sm-3 px-0" ></mainlat>    
    </main>
</template>
<script>
import mainlat from '../../menu/pnMenu'
export default({
    el:'main-buy',
    components:{
        mainlat
    },
    props:{
        display:Boolean
    }
})
</script>