<template>
  <div>
     <!--<pnTopH class="bgc-primary fixed-top" ></pnTopH>-->
      <router-view />
     <!--<pnBottomF class="bgc-secondary"></pnBottomF>-->
  </div>
</template>

<script>

//import pnTopH from '@/views/header/pnTop'

//import pnCenterB from '@/views/pnCenter'

//import pnBottomF from '@/views/footer/pnEnd'

export default {
  name: 'App',
  components: {
 // pnTopH,
 // pnCenterB,
 // pnBottomF
  }
}
</script>