p, span{

    font-family: 'Mulish', sans-serif;

    font-weight: bold 600;

}

span{

    font-size: 0.85rem;

}
.circle-subir{

    width: 50px;
    height: 50px;
    font-size: 35px;
    text-align: center;
}
.border-footer-img{

    background-color: #3279db;

}
.border-footer-circle{

    background-color: #3279db;
    cursor: pointer;

}
.border-footer-circle:hover{

    background-color: #398bfd;

}