<template>
    <main>
        <mainlat class="main-deskotp px-0 m-0 float-left" ></mainlat>    
        <div class="main-top-bar bgc-primary" >
            <span>dsad</span>
        </div>
        <div class="main-top-bar-ins bgc-secondary pl-3 text-white py-3" >
            <span>Configuraciones / Mi Cuenta</span>
        </div>

        <div class="main-content" style="background-color: #E5E7E9;" >
            <div class="col-sm-12 text-left py-2" >
                <span class="h5 text-info" ><i class="fas fa-angle-left"></i> regresar</span>
            </div>
            <div class="d-flex justify-content-center py-4" >
                <div class="col-sm-10 px-0" >
                    <historyProduct class="px-0" v-if="obComponens.History" ></historyProduct>
                    <addProducts class="px-0" v-if="obComponens.addProduct" ></addProducts>
                </div>
            </div>
    </div>
    </main>
</template>
<script>
import mainlat from '../../menu/pnMenu'
import historyProduct from './components/products'
import addProducts from './components/addProducts'

export default({
    el:'main-public',
    components:{
        mainlat,
        historyProduct,
        addProducts
    },
    data(){
        return{
            obComponens:{
                History:false,
                addProduct:true
            }
        }
    }
})
</script>