.lat-menu{
    background-color: #25292C;
    height: 100vh;
    padding-top: 25vh;
}
.dvMenu{
    width: 100%;
    height: 65px;
    padding-top: 15px;
    cursor: pointer;
}
.dvMenu:hover {
    border-left: solid 7px #1ABC9C;
    background-color: #3D4347;
}
#mainSell, #mainBuy, #mainCog{
    display: none;
}
#opSell:hover  #mainSell{
    display: block;
}
#opBuy:hover  #mainBuy{
    display: block;
}
#openCog:hover #mainCog{
    display: block;
}
.dvMenuFloat{
    height: 100vh;
    background-color: #222223;
}
.subMains{
    height: 50px;
    cursor: pointer;
}
.subMains:hover{
    border-left: solid 7px #1ABC9C;
    background-color:#3D4347;
}