<template>
  <main>
    <div class="d-flex justify-content-center" style="margin-top:150px;margin-bottom:100px;" >
      <div class="col-sm-4 p-5 bg-white" v-if="!pnCambio" >

        <span class="h4" >Cambio de contraseña</span>
        <div class="border-inputs mt-5 border-bottom" >
          <input type="password" placeholder="nueva contraseña" v-model="contra">
          <span class="h4" ><i class="fa fa-key" aria-hidden="true"></i></span>
        </div>
        <div class="border-inputs border-bottom mt-5" >
          <input type="password" placeholder="confirmar contraseña" v-model="conContra">
          <span class="h4" ><i class="fa fa-key" aria-hidden="true"></i></span>
        </div>
        <div class="form-group my-5" >
          <button class="btn bgc-primary text-white" @click="solidMod" >cambiar</button>
        </div>
        <div class="alert alert-danger" role="alert" v-if="Errores" >
          <b class="h4" >Error </b>
          <span class="h6" >{{MensajesError}}</span>
        </div>
      </div>

       <div class="col-sm-4 p-5 bg-white text-center" v-if="pnError" >

         <span><img src="../../../../assets/icon/incorrecto.png"></span>
         <br><br>
         <span class="h6" >{{mensajes}}</span>
     
      </div>

      <div class="col-sm-4 p-5 bg-white text-center" v-if="pnSuc" >

         <span><img src="../../../../assets/icon/garrapata.png"></span>
         <br><br>
         <span class="h6" >{{mensajes}}</span>
     
      </div>

    </div>
  </main>
</template>

<script>

//import topSesion from '../../../../views/top/topSesion'

import index from './config/index'

export default {
  name: 'pnUpdatePass',
  components:{

  //  topSesion

  },
  data(){

    return{

      pnCambio:true,
      pnError:false,
      pnSuc:false,
      Errores:false,
      mensajes:"",
      contra:"",
      conContra:"",
      idU:"",
      idT:""

    }

  },
  created(){

    this.confirmUrl();

  },
  methods:{

    async confirmUrl(){

      let urls = this.$route.params.url;

      const valUrl = await index.valUrl(urls);

      if(valUrl.valUrlError === true){

        this.$router.push({name:'errores'});

      }

      this.idU = valUrl.idUsuarios;

      this.idT = valUrl.idToken;

      this.pnCambio = valUrl.valUrlError

    },
    async solidMod(){

      const valApi = await index.modPs(this.conContra,this.idU, this.idT);

      this.pnCambio = valApi.actualizar

      this.pnSuc = valApi.actualizar

      this.mensajes = valApi.mensaje

      setTimeout(()=>{

        this.$router.push({name:'cuenta'})

      },1000)

    }

  }

}

</script>
