<template>
    <main>
        <div class="row col-sm-12 m-0 p-0" >
        <div class="lat-menu col-sm-12 px-0 mx-0 text-center text-white text-left" >
           <div class="dvMenu" id="opSell"  >
               <span style="font-size: 25px;" ><i class="fas fa-shopping-cart"></i></span>
               <mainsell class="px-0 main-lat-deskotp"  id="mainSell"></mainsell>
           </div>
           <div class="dvMenu" id="opBuy" >
               <span style="font-size: 25px;" ><i class="fas fa-hand-holding-usd"></i></span>
               <mainbuy  class="px-0 main-lat-deskotp"  id="mainBuy"></mainbuy>
           </div>
           <div class="dvMenu" id="openCog" >
               <span style="font-size: 25px;" ><i class="fas fa-cog"></i></span>
               <maincog  class="px-0 main-lat-deskotp"  id="mainCog"></maincog>
           </div>
        </div>
        </div>
    </main>
</template>
<style >
@import './style/index.css';
</style>
<script>

import mainsell from './components/main-sell'
import mainbuy  from './components/main-buy'
import maincog  from './components/main-cog'

export default {

  name: 'pnMenu',
  components:{
      mainsell,
      mainbuy,
      maincog
  }

}
</script>
