.sectionCat{
    margin-top:50px;
    cursor: pointer;
}

.sectionCat p{
    display: none;
}

.sectionCat:hover{
    margin-top:0px;
}
#catProduct:hover p{
    display: block;
}
#catArt:hover p{
    display: block;
}
#catGas:hover p{
    display: block;
}
.select-producto{
    width: 100%;
    border:solid 1px #00B4AD;
    cursor: pointer;
}