<template>
  <main>
    <div class="d-flex justify-content-center" style="margin-top:200px;margin-bottom:200px;" >

        <span class="h1" ><img src="../assets/icon/error.png" alt=""></span>

    </div>
  </main>
</template>

<script>

export default {
  name: 'body'
}

</script>
