<template>
    <main>
            <div class="d-flex justify-content-center"  v-if="modalRegistro">
                <div class="m-0 bg-white px-0" style="width:400px;" >
                    <div class="col-sm-12  border-bottom py-3 bgc-primary text-white d-flex justify-content-between" > 
                        <span class="h5" >Registro</span>   
                        <span class="h5" ><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></span>
                    </div>
                    <div>
                    <div class="mt-2 px-3" >  
                        <div class="col-sm-12 my-1 p-0" >
                            <div id="google-signin-button" ></div>
                        </div>
                        <div class="col-sm-12 mt-1 p-0" >
                           
                        </div> 
                        <div class="border-bottom col-sm-12 pt-3" ></div>
                    </div>
                    <main class="my-4 px-4"  > 
                        <div class="border-inputs border-bottom mb-4 pb-2" :class="{'border-danger':errorNombre}">
                            <span>Nombre</span>
                            <input type="text" placeholder="nombre(s)" v-model="nombre" >
                            <span class="h4" ><i class="fa fa-user" aria-hidden="true"></i></span>
                        </div>
                        <div class="border-inputs border-bottom mb-4 pb-2" :class="{'border-danger':errorApes}" >
                            <span>Apellidos</span>
                            <input type="text" placeholder="apellido(s)" v-model="apeliidos" >
                            <span class="h4" ><i class="fa fa-user" aria-hidden="true"></i></span>
                        </div>
                      <div class="mt-4 border-inputs border-bottom pb-2" :class="{'border-danger':errorCorreo}" >
                            <span>Correo</span>
                            <input type="email" placeholder="ejemplo:clicko@clicko.com" v-model="correo" @keyup="corroVal" >
                            <span class="h4" ><i class="fa fa-envelope" aria-hidden="true"></i></span>
                        </div>
                        <div class="mt-4 border-inputs border-bottom  pb-2" :class="{'border-danger':errorContra}" >
                            <span>Contraseña</span>
                            <input type="password" placeholder="**********************" v-model="contrasenia" @keyup="longContra" >
                            <span class="h4" ><i class="fa fa-key" aria-hidden="true"></i></span>
                            <div class="progress" v-if="progresContra">
                                <div class="progress-bar " :class="backgroundProgress" role="progressbar" :style="{width:widthProgress+'%'}" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="mt-4 border-inputs border-bottom pb-2" :class="{'border-danger':errorContraConfirm}" >
                            <span>Confirmar Contraseña</span>
                            <input type="password" placeholder="**********************" v-model="confirmContrasenia" @keyup="valContras" >
                            <span class="h4" ><i class="fa fa-key" aria-hidden="true"></i></span>
                        </div>
                       <div class="alert alert-danger" role="alert" v-if="modalErrorInput" >
                            <b class="h4" >Error : </b><span>{{mensajeErrores}}</span>
                        </div>
                    </main>

                    <main class="row mb-4 mt-1 px-5 d-flex justify-content-between" v-if="confirCuenta" >
                        <div class="col-sm-12 border-bottom pt-3 pb-2" >
                            <span class="h5" >Confirmar cuenta</span>
                        </div>
                        <div class="col-sm-12 my-3" >
                            <span class="h6" >Se te a enviado un mensaje a tu correo con un código de verificación, el cual puedes canjear por los próximos 5 minutos</span>
                        </div>
                        <div class="col-sm-12 py-2 text-center d-flex justify-content-center" >
                            <div class="col-sm-6 border-inputs" >
                                <input type="text" class="input-c" v-model="codeConfirm" >
                                <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                            </div>
                             <div v-if="!modalError" class="alert alert-danger"  role="alert">
                                <span>{{mensajeErrores}}</span>
                            </div>
                        </div>
                    </main>

                    </div>
                    <div class="col-sm-12 bgc-primary py-3 d-flex justify-content-between" >
                    
                     <button class="btn bgc-secondary text-white" @click="pasoCode" >registrate</button>
                    
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center row" v-if="confirCuenta" >
                <div class="bg-white col-sm-6 px-4 my-5 py-5" >
                    <span>Confirmar cuenta</span>
                    <div class="col-sm-12 my-4" >
                        <span>Se te a enviado un  codigo de confirmación a tu correo electronico, el cual tendras 5 minutos para poder canjearlo</span>
                    </div>
                    <div class="col-sm-12 border-inputs my-4" >
                        <input type="text" class="input-c text-center" v-model="codeConfirm" placeholder="escribe código" >
                        <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                    </div>
                   <div class="alert alert-danger my-3" role="alert" v-if="!modelError" >
                     <b class="h4" >Error: </b><span>{{mensajeErrores}}</span>
                    </div>
                    <div class="col-sm-12 text-center my-3" >
                        <button class="btn bgc-secondary text-white" @click="confirmCodes"  >confirmar codigo</button>
                    </div>
                </div>
            </div>
    </main>
</template>
<style>

@import './style/index.css';

</style>
<script>

import index from './config/index'

import indexSesion from '../../sesion/config/index'

export default{

    name:'registro-cliente',
    data(){

        return{

            nombre:"",
            apeliidos:"",
            correo:"",
            contrasenia:"",
            confirmContrasenia:"",
            msjError:"",
            codeConfirm:"",
            mensajeErrores:"",
            modelPanel:1,
            modalRegistro:true,
            confirCuenta:false,
            modelError:true,
            errorNombre:false,
            errorApes:false,
            errorCorreo:false,
            errorContra:false,
            errorContraConfirm:false,
            modalErrorInput:false,
            modalError:true,
            progresContra:false,
            widthProgress:0,
            backgroundProgress:'',
            gapi:""
        }

    }, 
    async mounted(){

        this.gapi = await this.$getGapiClient();

        this.gapi.signin2.render('google-signin-button', {
            'scope': 'profile email',
            'width': 365,
            'height': 45,
            'longtitle': true,
            'theme': 'dark',
            onsuccess: this.login
    })

    },
    methods:{

        async login(googleUser){

          var profile = googleUser.getBasicProfile();
          const nombre = profile.getGivenName();
          const apellidos = profile.getFamilyName();
          const emial = profile.getEmail();
          const modal = 1;
          const resp = await indexSesion.googleseion(nombre,apellidos,emial,"null",modal);
            this.bolGoogle = true
          if(resp.sesion.error === false){

               if((await indexSesion.activarSesion(resp)) === true){

                   this.$router.push({name:"sesionActiva"})
                   
              }

          }

        },
        async pasoCode(){

            const validacion = await index.valInputs(this.nombre,this.apeliidos,this.correo,this.contrasenia,this.confirmContrasenia);

            console.log(validacion);

            if(validacion.errores === false){

                const respCode = await index.validarCorreo(this.correo);

                if(respCode.correo[0].error === false){

                this.modalRegistro = false

                this.confirCuenta = true

                }else{

                    this.modalErrorInput = respCode.correo[0].error
                    this.mensajeErrores = respCode.correo[0].mensaje

                }

                

            }else{

               this.modalErrorInput    = validacion.errores
               this.errorNombre        = validacion.nomError
               this.errorApes          = validacion.apesError
               this.errorCorreo        = validacion.correoError
               this.errorContra        = validacion.passError
               this.errorContraConfirm = validacion.conPassError
               this.mensajeErrores     = validacion.mensajeError
    
            }

        },

        async confirmCodes(){

            const resp =  await index.confirmCode(this.codeConfirm)

            this.modelError = resp.confirmCode

            this.mensajeErrores = this.mensaje

            if(resp.confirmCode === true){

                const resp = await index.envioDatos(this.nombre,this.apeliidos,this.correo,this.confirmContrasenia,1);

                if(resp.registro === true){

                    this.$router.push({name:"sesionActiva"})

                }

            }
        },

        async corroVal(){

            const repsVal = await index.revisionCorreo(this.correo);

            this.modalErrorInput = repsVal.error

            this.mensajeErrores  = repsVal.mensaje

        },
        async longContra(){

            const respVal = await index.longPass(this.contrasenia)

            this.progresContra       = respVal.barProgress
            this.widthProgress       = respVal.widthProgress
            this.backgroundProgress  = respVal.style

        },

        async valContras(){

            const respVal = await index.valContra(this.contrasenia,this.confirmContrasenia)

            this.modalErrorInput = respVal.error
            this.mensajeErrores  = respVal.mensaje

        }

    }
   

}

</script>