<template>
    <main>
        <div class="col-sm-12 bg-white pt-4 pl-5" style="height:225px;" v-if="obProcess.secCat" >
            <p style="font-size:20px" >Selecciona tu categoría:</p>
            <div class="container" >
                <div class="d-flex justify-content-between" >
                    <div class="col-sm-3 bg-white border text-center shadow py-5 sectionCat" id="catProduct" >
                        <img src="https://www.flaticon.es/svg/static/icons/svg/1095/1095990.svg" width="100"  height="100">
                        <p class="mt-5" >Productos</p>
                    </div>

                    <div class="col-sm-3 bg-white border text-center shadow py-5 sectionCat" id="catArt">
                        <img src="https://www.flaticon.es/svg/static/icons/svg/3410/3410393.svg" width="100"  height="100">
                        <p class="mt-5" >Artesanía</p>
                    </div>

                    <div class="col-sm-3 bg-white border text-center shadow py-5 sectionCat" id="catGas">
                        <img src="https://www.flaticon.es/svg/static/icons/svg/2794/2794526.svg" width="100"  height="100">
                        <p class="mt-5" >Gastronomía</p>
                    </div>
                </div>
            </div>
        </div>

         <processRegist v-if="obProcess.proccesReg"></processRegist>
    </main>
</template>
<style>
@import './style/index.css';
</style>
<script>
import processRegist from './processRegister'
export default({
    el:'main-public',
    components:{
        processRegist
    },
    data(){
        return{
            obProcess:{
                secCat:true,
                proccesReg:false
            }
        }
    }

})
</script>