<template>
    <main>
        <div class="col-sm-12 d-flex justify-content-between px-0" >
            <div class="py-2 px-3 rounded-circle bg-danger text-white" >
                <span>1</span>
            </div>
            <div class="col-sm bg-danger my-3" style="height:5px;" ></div>
            <div class="py-2 px-3 rounded-circle bg-white text-primary" >
                <span>2</span>
            </div>
            <div class="col-sm bg-white my-3" style="height:5px;" ></div>
            <div class="py-2 px-3 rounded-circle bg-white text-primary" >
                <span>3</span>
            </div>
        </div>

        <div class="col-sm-12 bg-white my-3" v-if="obProces.title" >
            <div class="col-sm-12 py-4 px-2 d-flex justify-content-between" >
                <p class="h5 text-primary" >Titulo de tu producto</p>
                <p class="h6 text-info" >Como crear un buen titulo</p>
            </div> 

            <div class="col-sm-12 pb-3" >
                <p class="text-muted h6" >Recuerda escribir un titulo llamativo, ya que con este tu producto será visto (nombre producto, marca, modelo)</p>
                <input type="text" class="form-control text-primary" placeholder="Ej: Celular Huawei Y9 Color negro 4GB " >
                <div class="col-sm-12 text-right px-0 py-2" >
                    <button class="btn btn-success" >continuar</button>
                </div>
            </div>
        </div>

        <div class="col-sm-12 my-3" v-if="obProces.Category" >
            <div class="col-sm-12 pl-4 pt-4 pb-3 bg-white" >
                <p class="h5 text-primary" >Celular Huawei Y9 Color negro 4GB</p>
            </div>

            <div class="col-sm-12 bg-white mt-2 px-4 py-3" >
                <div class="col-sm-12 d-flex justify-content-between pt-3 px-0" >
                    <p class="h5 text-primary" >Es correcta la categoría de tu producto?</p>
                    <p class="h5 text-info"    >Como debo elegir mi categoría?</p>
                </div>

                <div class="col-sm-12 d-flex justify-content-between py-4 px-0" >
                    <div class="col-sm-3 px-0" >
                        <p class="h6 text-muted" >Categoría</p>
                        <div class="select-producto border-success d-flex" >
                            <div class="col-sm-8 pt-3 px-2" >
                                <p>Tecnología</p>
                            </div>
                            <div class="col-sm-4 pt-3 px-2 bg-success text-white text-center" >
                                <p>Modificar</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 px-0" >
                        <p class="h6 text-muted" >Subcategorìa</p>
                        <div class="select-producto d-flex" >
                            <div class="col-sm-8 pt-3 px-2" >
                                <p>Tecnología</p>
                            </div>
                            <div class="col-sm-4 pt-3 px-2 bg-success text-white text-center" >
                                <p>Modificar</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 px-0" >
                        <p class="h6 text-muted" >Marca</p>
                        <div class="select-producto d-flex" >
                            <div class="col-sm-8 pt-3 px-2" >
                                <p>Tecnología</p>
                            </div>
                            <div class="col-sm-4 pt-3 px-2 bg-success text-white text-center" >
                                <p>Modificar</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 border-top bg-white py-3 px-0" >
                    <p class="h5 text-primary" >Estado del producto</p>
                    <div class="col-sm-12 d-flex justify-content-between px-0 py-3" >
                        <div class="col-sm-5 px-0" >
                            <div class="select-producto d-flex" >
                                <div class="col-sm-10 pt-3 px-4" >
                                    <p>Nuevo</p>
                                </div>
                                <div class="col-sm-2 pt-3 px-2 bg-success text-white text-center" ></div>
                            </div>
                        </div>

                        <div class="col-sm-5 px-0" >
                            <div class="select-producto d-flex border" >
                                <div class="col-sm-10 pt-3 px-4" >
                                    <p>Usado</p>
                                </div>
                                <div class="col-sm-2 pt-3 px-2 bg-white text-white text-center" ></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 d-flex justify-content-between px-0" >
                    <button class="btn bgc-secondary px-4 text-white" >atras</button>
                    <button class="btn bgc-primary px-4 text-white" >continuar</button>
                </div>
            </div>
        </div>
    </main>
</template>
<style>
@import './style/index.css';
</style>
<script>
export default({
   data(){
       return{
           obProces:{
               title:false,
               Category:true
           }
       }
   }
})
</script>