<template>
    <main>
        <div class="col-sm-12 d-flex justify-content-between py-3 bg-white" >
            <div class="col-sm-4" >
                <input type="text" placeholder="Buscar" class="form-control">
            </div>
            <p class="h6 text-success" >Agregar producto</p>
        </div>

        <div class="col-sm-12 d-flex justify-content-between py-3 px-0" >
            <p class="h5 text-primary" >Publicaciones</p>
            <p class="h5 text-info" >Ayuda</p>
        </div>

        <div class="col-sm-12 pb-3 px-0 ml-3" >
            <div class="col-sm-12 mb-1 bg-white row d-flex justify-content-between" >
                <div class="border-right my-3 px-3" >
                    <img src="https://www.flaticon.es/svg/static/icons/svg/608/608857.svg" width="85" height="85">
                </div>
                <div class="border-right my-3 px-3 col-sm-4" >
                    <p class="h6 text-muted" >Nombre</p>
                    <p class="h5 text-primary" >Monitor Gamer Hdmi Led Game Factor 144hz 24.5 Pulgadas Mg600</p>
                </div>
                <div class="border-right my-3 px-3 col-sm-4" >
                    <p class="h6 text-muted" >Stock</p>
                    <table>
                        <thead class="text-muted" >
                            <tr>
                                <th>Incial</th>
                                <th>Vendidos</th>
                                <th>Stock</th>
                            </tr>
                        </thead>
                         <tbody class="text-primary h4" >
                            <tr>
                                <th>40</th>
                                <th>20</th>
                                <th>20</th>
                            </tr>
                         </tbody>
                    </table>
                </div>
                <div class="border-right my-3 px-3" >
                    <p class="h6 text-muted" >Precio</p>
                    <br>
                    <p class="h4 text-primary">$ 2,580.00</p>
                </div>

                <div class="my-3 pl-4 text-right" >
                    <span class="text-danger" >Eliminar</span>
                    <br><br>
                    <span class="text-right" >Actualizar</span>
                </div>
            </div>

             <div class="col-sm-12 row mb-1 bg-white d-flex justify-content-between" >

                <div class="border-right my-3 px-3" >
                    <img src="https://www.flaticon.es/svg/static/icons/svg/608/608857.svg" width="85" height="85">
                </div>

                <div class="border-right my-3 px-3 col-sm-4" >
                    <p class="h6 text-muted" >Nombre</p>
                    <p class="h5 text-primary" >Monitor Gamer Hdmi Led Game Factor 144hz 24.5 Pulgadas mg</p>
                </div>

                <div class="border-right my-3 px-3 col-sm-4" >
                    <p class="h6 text-muted" >Stock</p>
                    <table>
                        <thead class="text-muted" >
                            <tr>
                                <th>Incial</th>
                                <th>Vendidos</th>
                                <th>Stock</th>
                            </tr>
                        </thead>
                         <tbody class="text-primary h4" >
                            <tr>
                                <th>40</th>
                                <th>20</th>
                                <th>20</th>
                            </tr>
                         </tbody>
                    </table>
                </div>

                <div class="border-right my-3 px-3" >
                    <p class="h6 text-muted" >Precio</p>
                    <br>
                    <p class="h4 text-primary">$ 2,580.00</p>
                </div>

                <div class="my-3 pl-4 text-right" >
                    <span class="text-danger" >Eliminar</span>
                    <br><br>
                    <span class="text-right" >Actualizar</span>
                </div>
            </div>

             <div class="col-sm-12 mb-1 row bg-white d-flex justify-content-between" >
                <div class="border-right my-3 px-3" >
                    <img src="https://www.flaticon.es/svg/static/icons/svg/608/608857.svg" width="85" height="85">
                </div>
                <div class="border-right my-3 px-3 col-sm-4" >
                    <p class="h6 text-muted" >Nombre</p>
                    <p class="h5 text-primary" >Monitor Gamer Hdmi Led Game Factor 144hz 24.5 Pulgadas Mg600</p>
                </div>
                <div class="border-right my-3 px-3 col-sm-4" >
                    <p class="h6 text-muted" >Stock</p>
                    <table>
                        <thead class="text-muted" >
                            <tr>
                                <th>Incial</th>
                                <th>Vendidos</th>
                                <th>Stock</th>
                            </tr>
                        </thead>
                         <tbody class="text-primary h4" >
                            <tr>
                                <th>40</th>
                                <th>20</th>
                                <th>20</th>
                            </tr>
                         </tbody>
                    </table>
                </div>
                <div class="border-right my-3 px-3" >
                    <p class="h6 text-muted" >Precio</p>
                    <br>
                    <p class="h4 text-primary">$ 2,580.00</p>
                </div>

                <div class="my-3 pl-4 text-right" >
                    <span class="text-danger" >Eliminar</span>
                    <br><br>
                    <span class="text-right" >Actualizar</span>
                </div>
            </div>

             <div class="col-sm-12 mb-1 row bg-white d-flex justify-content-between" >
                <div class="border-right my-3 px-3" >
                    <img src="https://www.flaticon.es/svg/static/icons/svg/608/608857.svg" width="85" height="85">
                </div>
                <div class="border-right my-3 px-3 col-sm-4" >
                    <p class="h6 text-muted" >Nombre</p>
                    <p class="h5 text-primary" >Monitor Gamer Hdmi Led Game Factor 144hz 24.5 Pulgadas Mg600</p>
                </div>
                <div class="border-right my-3 px-3 col-sm-4" >
                    <p class="h6 text-muted" >Stock</p>
                    <table>
                        <thead class="text-muted" >
                            <tr>
                                <th>Incial</th>
                                <th>Vendidos</th>
                                <th>Stock</th>
                            </tr>
                        </thead>
                         <tbody class="text-primary h4" >
                            <tr>
                                <th>40</th>
                                <th>20</th>
                                <th>20</th>
                            </tr>
                         </tbody>
                    </table>
                </div>
                <div class="border-right my-3 px-3" >
                    <p class="h6 text-muted" >Precio</p>
                    <br>
                    <p class="h4 text-primary">$ 2,580.00</p>
                </div>

                <div class="my-3 pl-4 text-right" >
                    <span class="text-danger" >Eliminar</span>
                    <br><br>
                    <span class="text-right" >Actualizar</span>
                </div>
            </div>

             <div class="col-sm-12 mb-1 row bg-white d-flex justify-content-between" >
                <div class="border-right my-3 px-3" >
                    <img src="https://www.flaticon.es/svg/static/icons/svg/608/608857.svg" width="85" height="85">
                </div>
                <div class="border-right my-3 px-3 col-sm-4" >
                    <p class="h6 text-muted" >Nombre</p>
                    <p class="h5 text-primary" >Monitor Gamer Hdmi Led Game Factor 144hz 24.5 Pulgadas Mg600</p>
                </div>
                <div class="border-right my-3 px-3 col-sm-4" >
                    <p class="h6 text-muted" >Stock</p>
                    <table>
                        <thead class="text-muted" >
                            <tr>
                                <th>Incial</th>
                                <th>Vendidos</th>
                                <th>Stock</th>
                            </tr>
                        </thead>
                         <tbody class="text-primary h4" >
                            <tr>
                                <th>40</th>
                                <th>20</th>
                                <th>20</th>
                            </tr>
                         </tbody>
                    </table>
                </div>
                <div class="border-right my-3 px-3" >
                    <p class="h6 text-muted" >Precio</p>
                    <br>
                    <p class="h4 text-primary">$ 2,580.00</p>
                </div>

                <div class="my-3 pl-4 text-right" >
                    <span class="text-danger" >Eliminar</span>
                    <br><br>
                    <span class="text-right" >Actualizar</span>
                </div>
            </div>
        </div>

        <div class="col-sm-12 text-center py-3 text-info" >
            <p class="h4" >Ayuda</p>
        </div>
    </main>
</template>
<script>
export default({
    name:'main-public'
})
</script>