.menu{

    background-color: transparent;
    color:white;
    border:none;
    font-size: 0.85rem;
    padding-top:5px;
    padding-bottom:5px;
}
.menu:focus{

    outline: none;

}
.div-icon{

    width: 100%;
    height: 20px;
}
.icon-tri{

    font-size: 30px;
    position: absolute;
    left: 25%;
    transform: translate(-25%);
    color: #1A4786;
}
.menu-despegable{

    position: absolute;
    color: white;
    top:0.85rem;
    display: none;
}
.content-menu{
    padding: 0;
    margin: 0;
    background-color: #1A4786;
}
.lista-menu{
    
    background-color:#1A4786;
}
.btn-menu{
    width: 100%;
    text-align: left;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 0.75rem;
    padding-left: 15px;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    padding-right: 15px;
}
.btn-menu:hover{

    background-color: #CB233D;

}
.btn-menu:focus{

    outline: none;

}

.menu-disploy:hover .menu-despegable{

    display: block;

} 

.btn-carrito{

    background-color: #FFFFFF;
    border-radius: 20px;
    color: #1A4786;
    font-size: 0.85rem;
    padding-left: 25px;
    padding-right: 25px;
    top: 0;
}
.icon-cars{

    font-size: 25px;

}