<template>
    <main>
        <mainTop :btnSesion="bolSesion" :btnGoogleSesion="bolGoogle"></mainTop>
        <div class="d-flex justify-content-center row  mx-0"  >
            <div  style="width:400px;background-color:#F7F9F9;" id="pnSesion" > 
                <div class="col-sm-12 p-0 m-0 bgc-primary text-center py-2" >
                    <img src="@/assets/logo-clickO.png" width="75" height="50" alt="">
                    <span class="h1 text-white" > | </span>
                    <span class="h4 text-white" >Login</span>
                </div>
                <div class="p-3" >
                <div class="mt-2" >  
                     <div class="col-sm-12 my-1 p-0" >
                          <div  id="google-signin-button" ></div>
                    </div>
                    <div class="col-sm-12 mt-1 p-0" >
                      
                    </div> 
                    <div class="border-bottom pt-3" ></div>
                </div>
                <div class="mt-1" >
                    <div class="mt-4 border-inputs pb-2 border-bottom" >
                        <span>Correo : </span>
                        <input type="text" class="text-primary" v-model="emial" placeholder="ejemplo: clicko@clicko.com" @keyup="ValEmail" >
                    </div>
                    <div class="form-group mt-4 border-inputs border-bottom" >
                        <span>Password : </span>
                        <input type="password" class="text-primary" v-model="contrasenia" placeholder="**********" @click="ValContra">
                    </div>
                </div>
                <div v-if="modalError" class="alert alert-danger mt-2" role="alert">
                    <span>{{mensajeError}}</span>
                </div>
                <div class="my-4" >
                    <div class="row" >
                        <div class="col-sm-6" >
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1" checked="">
                                <label class="custom-control-label" for="customCheck1">Mantener sesión</label>
                            </div>
                        </div>
                        <div class="col-sm-6" >
                           <router-link :to="{ name: 'CuentaRecuperar' }" > <button class="btn form-control bgc-primary text-white" >Recuperar cuenta</button></router-link>
                        </div>
                        <div class="col-sm-6 mt-1" >
                            <button @click="abrirSesion" class="btn text-white form-control style-fonts text-center" style="background-color:#1A4786;" ><i class="fa fa-unlock" aria-hidden="true"></i> Iniciar</button>
                        </div>
                        <div class="col-sm-6 mt-1" >
                            <button class="btn form-control style-fonts text-center text-white btn-danger text-white" @click="pageRegistro" ><i class="fa fa-user-plus" aria-hidden="true"></i> Registrate</button>
                        </div>
                    </div>
                   
                </div>
            </div>
            </div>
        </div>
    </main>
</template>
<style scoped>
@import 'style/index.css';
</style>

<script>
// de acuerdo al primese con las constantes
// funciones del archivo index
import index from './config/index.js'

//import indexRe from '../registro/components/config/index'

//import { gapi } from 'https://apis.google.com/js/platform.js'

import mainTop from '../../../views/top/topSesion'

//import VFacebookLogin from 'vue-facebook-login-component'

export default {
  name: 'pnRegistro',
  components:{

      mainTop,
       //VFacebookLogin

  },
  async mounted() {

       this.$getGapiClient().then((gapi) => {
         gapi.signin2.render('google-signin-button', {
            'scope': 'profile email',
            'width': 368,
            'height': 45,
            'longtitle': true,
            'theme': 'dark',
            'language':'es',
            onsuccess: this.onSignIn
        })
    })
  
  },
  data(){

      return{

          emial:'',
          contrasenia:'',
          modalError:false,
          mensajeError:"",
          bolSesion:false,
          bolGoogle:false, 
          FB: {},
          model: {},
          scope: {}  
      }

  },
  methods:{

    async onSignIn (googleUser) {
          // gapi.sheets.spreadsheet.get(...)
          // ...
          var profile = googleUser.getBasicProfile();
          const nombre = profile.getGivenName();
          const apellidos = profile.getFamilyName();
          const emial = profile.getEmail();
          const modal = 1;
          const resp = await index.googleseion(nombre,apellidos,emial,"null",modal);

          console.log(resp);

            this.bolGoogle = true

         if(resp.sesion.error === false){

              if((await index.activarSesion(resp)) === true){

                this.$router.push({name:"sesionActiva"})

              }

          }
   },
//funciones para validacion de campos y otras utilidades
      ValEmail(){

        this.modalError = false
        //solicitamos true o false en errores y mensaje
        index.valEmial(this.emial)
        .then((resp) =>{

            const datos_val = resp;

        //guardamos datos en la variables
            this.modalError = datos_val[0]

            this.mensajeError = datos_val[1]
           
        })

      },
      ValContra(){

          this.modalError = false

      },
//funciones para peticiones a la API REST y calculos necesarios
     async abrirSesion(){

         const resp = await index.valUsuario(this.emial,this.contrasenia);

        console.log(resp);

         if(resp.errorSesion === false){

            if( await (index.activarSesion(resp.nombre,resp.id,resp.sesion)) === true){

                this.$router.push({name:'sesionActiva'})
            }

         }else{

             this.modalError = resp.errorSesion

            this.mensajeError = resp.mensaje    
         }         

    },

    /*handleSdkInit({ FB }) {
  

       /*FB.login((response) =>{

           console.log(response);

           console.log(scope)

       },{scope: 'email',
           return_scopes: true      
        })
        FB.api('/me', 'GET', { fields: 'id,name,email,picture' },
      user => {
        this.personalID = user.id;
        this.email = user.email;
        this.name = user.name;
        
      }
    )

        //console.log("scope"+scope)
      }*/

      pageRegistro(){

          this.$router.push({name:"CuentaRegistro"})

      }

  }
}
</script>
