<template>
    <main>
        <nav class="navbar navbar-light bgc-secondary" >
            <button class="btn bg-white" ><i class="fa fa-shopping-cart" aria-hidden="true"></i> tienda</button>
            <div>
              <router-link :to="{ name: 'cuenta' }" ><button class="btn bg-white" v-if="btnSesion" ><i class="fa fa-sign-in" aria-hidden="true"></i> iniciar sesión</button></router-link>
              <button class="btn bg-white"  @click="cerrarGoogle" v-if="btnGoogleSesion" >cerrar sesión</button>
            </div>
        </nav>
    </main>
</template>

<script>

// de acuerdo al primese con las constantes
// funciones del archivo index

export default {
  name: 'pnRegistro',
  props:[

    "btnSesion",
    "btnGoogleSesion"      

  ],
  data(){

    return{

      gapi:"",
      closetGoogle:false

    }

  },
  async mounted(){

    this.gapi = await this.$getGapiClient();
  
  },
  methods:{

    async cerrarGoogle(){
  
        var auth2 = this.gapi.auth2.getAuthInstance();

        auth2.signOut();


    }

  }

}
</script>
