<template>
   <main>
     <div class="col-sm-12 bgc-primary mt-0 py-3 text-white" >
     <div class="container" >
            <div class="d-flex justify-content-between" >
              <span>Bienvenido</span>
              <div>
                <span>redes sociales: </span>
                <span  ><i class="fa fa-facebook-square" aria-hidden="true"></i></span>
                <span  ><i class="fa fa-youtube-play" aria-hidden="true"></i></span>
              </div>
         </div>
     </div>
     </div>
       <nav class="navbar bgc-primary p-3" >     
         <div class="col-sm-2" >
          <a>
            <img src="../../assets/logo-clickO.png" width="100px" height="50px" >
          </a>
          </div>
          <div class="col-sm-4"  >
            <input type="text" class="form-control" >
          </div>
          <div class="col-sm-6 d-flex justify-content-between m-0 p-0" >
            <div class="menu-disploy"  > 
            <button class="menu" >Categorias  <i class="fa fa-angle-down" aria-hidden="true"></i></button>
            <div class="menu-despegable" >
              <div class="div-icon"  >
                <i class="fa fa-caret-up icon-tri" aria-hidden="true"></i>
              </div>
              <div class="content-menu" >
                <div class="lista-menu" ><button class="btn-menu" >Artesanías</button></div>
                <div class="lista-menu" ><button class="btn-menu" >Tecnología</button></div>
                <div class="lista-menu" ><button class="btn-menu" >Hogar, muebles, jardín y electrodomésticos</button></div>
                <div class="lista-menu" ><button class="btn-menu" >Moda y Accesorios</button></div>
                <div class="lista-menu" ><button class="btn-menu" >Deportes y Aire libre</button></div>
                <div class="lista-menu" ><button class="btn-menu" >Belleza y cuidado personal</button></div>
                <div class="lista-menu" ><button class="btn-menu" >Mercado</button></div>
                <div class="lista-menu" ><button class="btn-menu" >Gastronomía</button></div>
                <div class="lista-menu" ><button class="btn-menu" >Herramientas y Construcción</button></div>
                <div class="lista-menu" ><button class="btn-menu" >Juguetes</button></div>
                <div class="lista-menu" ><button class="btn-menu" >Ofertas</button></div>
                <div class="lista-menu" ><button class="btn-menu" >Lo más vendido</button></div>
                <div class="lista-menu" ><button class="btn-menu" >Más Categorías</button></div>
              </div>
            </div>
            </div>

            <div class="menu-disploy"> 
            <button class="menu" >Ofertas</button>
            </div>
             <div class="menu-disploy"> 
            <button class="menu" >Historial</button>
            </div>
            <div class="menu-disploy"> 
            <button class="menu" >Mi cuenta <i class="fa fa-angle-down" aria-hidden="true"></i></button>
            <div class="menu-despegable" >
              <div class="div-icon"  >
                <i class="fa fa-caret-up icon-tri" aria-hidden="true"></i>
              </div>
              <div class="content-menu" >
                <router-link :to="{ name: 'cuenta' }" ><div class="lista-menu" ><button class="btn-menu" >Iniciar sesión </button></div></router-link>
                <router-link :to="{ name: 'CuentaRegistro' }" ><div class="lista-menu" ><button class="btn-menu" >Registrate </button></div></router-link>
              </div>
            </div>
            </div>
            <div class="menu-disploy"> 
             <button class="menu btn-carrito tex-secondary" ><i class="fa icon-cars fa-cart-plus" aria-hidden="true"></i> <span></span></button>
             </div>
          </div>
          
       </nav>
    </main>
</template>
<style scoped>
@import 'style/index.css';
</style>
<script>

//import index from './config/index'

export default {
  name: 'header',
  methods:{

    myfuncion(e){

      console.log(e);

    }

  }

}
</script>
