<template>
    <main>
        <div class="col-sm-12 bgs-primary p-0 m-0" >

            <div class="col-sm-12 text-white border-footer-circle my-2 py-2 d-flex justify-content-center" >
                <div class="circle-subir" >
                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                </div>
            </div>
            <div class="container" >
                <div class="d-flex justify-content-between text-white row py-5" >
                        <div >
                            <p class="h5" >¿Quiénes somos?</p>
                            <br>
                            <span>ClickO</span>
                            <br>
                            <span></span>
                        </div>

                         <div>
                            <p class="h5" >Formas de pago</p>
                            <br>
                            <span>Tarjas Débito</span>
                            <br>
                            <span>Tarjeta Crédito</span>
                            <br>
                            <span>Pagó efectivo</span>
                        </div>

                        <div >
                            <p class="h5" >Ayuda</p>
                            <br>
                            <span>Compras</span>
                            <br>
                            <span>Ventas</span>
                            <br>
                            <span>Cuenta</span>
                        </div>
                </div>
            </div>

            <div class="col-sm-12 p-0 m-0 text-center" >
                <div class="border-footer-img text-white py-3"  >
                   <img src="../../assets/logo-clickO.png" width="75px" height="50px" alt="">
                </div>
            </div>
        </div>
    </main>
</template>

<style>

@import 'style/index.css';

</style>

<script>

export default {
  name: 'footer'

}
</script>

