<template>
    <main>
        <mainlat class="main-deskotp px-0 m-0 float-left" ></mainlat>    
        <div class="main-top-bar bgc-primary" >
            <span>dsad</span>
        </div>
        <div class="main-top-bar-ins bgc-secondary pl-3 text-white py-3" >
            <span>Configuraciones / Mi Cuenta</span>
        </div>
        <div class="main-content" style="background-color: #E5E7E9;" >
            <div class="container py-4" >
                <div class="col-sm-12 d-flex justify-content-between px-0" >
                    <span class="h4 text-primary" >Datos de cuenta</span>
                    <span class="h6 text-info" >Ayuda</span>
                </div> 
                <div class="col-sm-12 py-2 px-3 py-4 my-1 bg-white d-flex justify-content-between text-center" >
                    <div class="col-sm-4 text-left" >
                        <span class="h6 text-primary" >Correo:</span>
                    </div>
                    <div class="col-sm-4 text-center" >
                        <span class="h6 text-primary">fpl08999@gmail.com</span>
                    </div>
                    <div class="col-sm-4 text-right" >
                        <span>Actualizar</span>
                    </div>
                </div>
                <div class="col-sm-12 py-2 px-3 py-4 my-1 bg-white d-flex justify-content-between text-center" >
                     <div class="col-sm-4 text-left" >
                        <span class="h6 text-primary" >Contraseña:</span>
                    </div>
                    <div class="col-sm-4 text-center" >
                        <span class="h6 text-primary">************************</span>
                    </div>
                    <div class="col-sm-4 text-right" >
                        <span>Actualizar</span>
                    </div>
                </div>

                 <div class="col-sm-12 d-flex justify-content-between px-0 mt-4" >
                    <span class="h4 text-primary" >Datos personales</span>
                    <span class="h6 text-info" >Ayuda</span>
                </div> 
                <div class="col-sm-12 py-2 px-3 py-4 my-1 bg-white d-flex justify-content-between text-center" >
                    <div class="col-sm-4 text-left" >
                        <span class="h6 text-primary" >Nombre:</span>
                    </div>
                    <div class="col-sm-4 text-center" >
                        <p class="h6 text-primary">FILIBERTO</p>
                    </div>
                    <div class="col-sm-4 text-right" >
                        <p >Actualizar</p>
                        <p class="text-danger" >Eliminar</p>
                    </div>
                </div>
                <div class="col-sm-12 py-2 px-3 py-4 my-1 bg-white d-flex justify-content-between text-center" >
                     <div class="col-sm-4 text-left" >
                        <span class="h6 text-primary" >Apellidos:</span>
                    </div>
                    <div class="col-sm-4 text-center" >
                        <span class="h6 text-primary">PEREZ LOPEZ</span>
                    </div>
                    <div class="col-sm-4 text-right" >
                        <p >Actualizar</p>
                        <p class="text-danger" >Eliminar</p>
                    </div>
                </div>
                <div class="col-sm-12 py-2 px-3 py-4 my-1 bg-white d-flex justify-content-between text-center" >
                     <div class="col-sm-4 text-left" >
                        <span class="h6 text-primary" >Télefono:</span>
                    </div>
                    <div class="col-sm-4 text-center" >
                        <span class="h6 text-primary">951 422-91-59</span>
                    </div>
                    <div class="col-sm-4 text-right" >
                        <p >Actualizar</p>
                        <p class="text-danger" >Eliminar</p>
                    </div>
                </div>
                <div class="col-sm-12 py-2 px-3 py-4 my-1 bg-white d-flex justify-content-between text-center" >
                     <div class="col-sm-4 text-left" >
                        <span class="h6 text-primary" >Télefono:</span>
                    </div>
                    <div class="col-sm-4 text-center" >
                        <span class="h6 text-primary">951 422-91-59</span>
                    </div>
                    <div class="col-sm-4 text-right" >
                        <p >Actualizar</p>
                        <p class="text-danger" >Eliminar</p>
                    </div>
                </div>
                <div class="col-sm-12 py-2 px-3 py-4 my-1 bg-white d-flex justify-content-between text-center" >
                     <div class="col-sm-4 text-left" >
                        <span class="h6 text-primary" >Dirección:</span>
                    </div>
                    <div class="col-sm-4 text-center" >
                        <span class="h6 text-primary">951 422-91-59</span>
                    </div>
                    <div class="col-sm-4 text-right" >
                         <p >Actualizar</p>
                        <p class="text-danger" >Eliminar</p>
                    </div>
                </div>

                
                <div class="col-sm-12 d-flex justify-content-between px-0 mt-3" >
                    <span class="h4 text-primary" >MI imagen comercial</span>
                    <span class="h6 text-info" >Ayuda</span>
                </div> 
                <div class="col-sm-12 py-2 px-3 py-4 my-1 bg-white d-flex justify-content-between text-center" >
                    <div class="col-sm-4 text-left" >
                        <span class="h6 text-primary" >Logotipo:</span>
                    </div>
                    <div class="col-sm-4 text-center" >
                        <span class="h6 text-primary">fpl08999@gmail.com</span>
                    </div>
                    <div class="col-sm-4 text-right" >
                        <span>Actualizar</span>
                    </div>
                </div>
                <div class="col-sm-12 py-2 px-3 py-4 my-1 bg-white d-flex justify-content-between text-center" >
                     <div class="col-sm-4 text-left" >
                        <span class="h6 text-primary" >Banner:</span>
                    </div>
                    <div class="col-sm-4 text-center" >
                        <span class="h6 text-primary">************************</span>
                    </div>
                    <div class="col-sm-4 text-right" >
                        <span>Actualizar</span>
                    </div>
                </div>

                <div class="col-sm-12 text-center py-4" >
                    <span class="h5 text-info" >Ayuda</span>
                </div>
        </div>
    </div>
    </main>
</template>
<script>
import mainlat from '../../menu/pnMenu'
export default({
    el:'main-buy',
    components:{
        mainlat
    },
    props:{
        display:Boolean
    }
})
</script>