<template>
    <main>
           <div class="col-sm-12 px-0 pb-4">
                <div class="col-sm-12 bgc-primary py-3" >
                    <span class="h5 text-white" >Dirección</span>
                </div>
                <div class="pt-5 px-5 row" >
                    <div class="col-sm-6" > 
                        <div class="border-inputs border-bottom mb-4 pb-2">
                            <input type="text" placeholder="Codigo Postal" v-model="directionShop.codePostal" >
                            <span class="h4" ><i class="fa fa-user" aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <div class="col-sm-6" > 
                        <div class="border-inputs border-bottom mb-4 pb-2">
                            <input type="text" placeholder="Colonia" v-model="directionShop.Suburb" >
                            <span class="h4" ><i class="fa fa-user" aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <div class="col-sm-6" > 
                        <div class="border-inputs border-bottom mb-4 pb-2">
                            <input type="text" placeholder="calle" v-model="directionShop.Street" >
                            <span class="h4" ><i class="fa fa-user" aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <div class="col-sm-6" > 
                        <div class="border-inputs border-bottom mb-4 pb-2">
                            <input type="number" placeholder="numero interior" v-model="directionShop.numbInter" >
                            <span class="h4" ><i class="fa fa-user" aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <div class="col-sm-6" > 
                        <div class="border-inputs border-bottom mb-4 pb-2">
                            <input type="number" placeholder="numero exterior" v-model="directionShop.outdNumber" >
                            <span class="h4" ><i class="fa fa-user" aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <div class="col-sm-12 pb-2 border-bottom" >
                        <span class="h6" >Agrega información adicional, para encontrar tu localidad con mayor presición</span>
                    </div>
                    <div class="col-sm-12 my-2" >
                        <span class="h6" >entre que calles se encuentra</span>
                    </div>
                    <div class="col-sm-6" > 
                        <div class="border-inputs border-bottom mb-4 pb-2">
                            <input type="text" placeholder="primera calle" v-model="directionShop.StreetOne" >
                            <span class="h4" ><i class="fa fa-user" aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <div class="col-sm-6" > 
                        <div class="border-inputs border-bottom mb-4 pb-2">
                            <input type="text" placeholder="segunda calle" v-model="directionShop.StreetTwo" >
                            <span class="h4" ><i class="fa fa-user" aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <div class="col-sm-12" > 
                        <div class="border-inputs border-bottom mb-4 pb-2">
                            <input type="text" placeholder="describe el exterior de tu casa" v-model="directionShop.descriptAdic" >
                            <span class="h4" ><i class="fa fa-user" aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 text-right" >
                <button class="btn bgc-primary text-white" >registrar</button>
            </div>
    </main>
</template>
<script>
export default ({
    name:'direcction',
    data(){
        return{
            directionShop:{
                codePostal:"",
                Street:"",
                Suburb:"",
                numbInter:"",
                outdNumber:"",
                StreetOne:"",
                StreetTwo:"",
                descriptAdic:""
            }
        }
    }
})
</script>