<template>
  <main>
    <mainTop :btnSesion="bolSesion"></mainTop>
      <div class="d-flex justify-content-center" >
          <div class="col-sm-6 bg-white p-5 d-flex justify-content-center row" style="margin-top:150px;margin-bottom:50px;" >

            <div v-if="pnCorreo" class="d-flex justify-content-center row" >

            <span class="h5" >Recuperar cuenta</span>
              <div class="col-sm-12 py-3" >
                  <span class="h6" >Agrega el correo electronico que uso al registrar la cuenta, y se enviara un liga donde puedas recuperar tu cuenta</span>
              </div>
             <div class="col-sm-6 border-inputs my-3" >
                <input type="text" class="input-c" placeholder="correo electronico" v-model="emails">
                <span class="h4" ><i class="fa fa-user" aria-hidden="true"></i></span>
            </div>
            <div class="col-sm-12 text-center py-3" >
                <button class="btn bgc-primary col-sm-4 text-white"  @click="enviarCorreo" >enviar</button>
                <br><br>
                <div class="alert alert-danger" role="alert" v-if="ErrorEmail" >
                <b class="h4" >Error </b>
                <span class="h6" >{{MensajesError}}</span>
                </div>
            </div>

              </div>

        <div class="text-center p-5" v-if="pnCode" >

            <span><img src="../../../assets/icon/garrapata.png"></span>
            <br><br>
            <span class="h5" >{{MensajesPanel}}</span>

        </div>

         <div class="text-center p-5" v-if="!pnErrores" >

            <span><img src="../../../assets/icon/incorrecto.png"></span>
            <br><br>
            <span class="h5" >{{MensajesPanel}}</span>

        </div>

          </div>
      </div>
  </main>
</template>

<script>

import mainTop from '../../../views/top/topSesion'

import index from './config/index'

export default {
  name: 'body',
  components:{

    mainTop

  },
  data(){

      return{

          pnCorreo:true,
          pnCode:false,
          pnErrores:true,
          emails:"",
          ErrorEmail:false,
          bolSesion:true,
          MensajesPanel:""

      }

  },
  methods:{

    async enviarCorreo(){

    const validar = await index.vales(this.emails);

     if(validar.valError === false){

       const respApi = await index.datosApi(this.emails);

        this.pnCorreo = !this.pnCorreo
        this.pnCode = respApi.respuestaSolid
        this.pnErrores = respApi.respuestaSolid
        this.MensajesPanel = respApi.mensaje


     }else{

       this.ErrorEmail = validar.valError
       this.MensajesError = validar.mensaje

     }

    }

  }
}

</script>
