/*
*Life Desing ClickO y Css Library v1.0.0
*
*Date: 16/07/2020
*
*@Author Filiberto Pérez López
*Licence Shareware
*
*Selected fonts by Aturo
*Slected colors by Arturo
*/

/*
*include Google fonts
/Selected by Arturo
*/
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,600&display=swap');


:root{

    --primary                     :#00B4AD;

    --secondary                   :#1A4786;

    --tertiary                    :#CB233D;

    --error                       :#F20B00;

    --success                     :#19E069;

    --light                       :#FFFFFF;

    --link                        :#1A4786;

    /**--info                        :*/

    --primary-dark                :#02827D;

    --secondary-dark              :#13315C;

    --tertiary-dark               :#931C2E;

    --error-dark                  :#C60E05;

    --success-dark                :#14A24D;

    /*--info-dark                 :*/

    /*--warning-dark              :*/

    --primary-light               :#43DBD5;

    --secondary-light             :#3362A2;

    --tertiary-light              :#CD3F55;

    --error-light                 :#E7534C;

    --success-light               :#4DE88C;

    --font-family-sans-serif      : 'Mulish', sans-serif;

    --font-bold                   : bold;

    --count-wight                 : 600;

}

body {

    margin           : 0px;

    padding          : 0px;

    font-family      : var(--font-family-sans-serif);
    
    font-size        : var(--font-size);
    
    font-weight      : var(--count-wight);
    
    color            : var(--secondary);
    /* #25292C #E5E7E9*/
    background-color : #E5E7E9;;

 }
 *{

    font-family      : var(--font-family-sans-serif);

    font-weight      : var(--count-wight);

 }

.bgc-primary{

    background-color: var(--primary);

}
.bgc-secondary{

    background-color: var(--secondary);

}
.bgc-tertiary{

    background-color: var(--tertiary);

}
.bgc-error{

    background-color: var(--error);

}
.bgc-success{

    background-color: var(--success);

}
.bgc-link{

    background-color: var(--link);

}
.input{

    border-radius    : 5px;

    padding          : 10px;

    background-color : white;

    font-family      : var(--font-family-sans-serif);

    border           : solid 2px var(--primary-dark);

    
}
.form-item{

    width : 100%;

}
.style-fonts{

    font-size        : var(--font-size);
    
    font-weight      : var(--count-wight);

}
.input-c{

    width: 100%;
    height: 35px;
    border:none;
    background-color: transparent;
    border-bottom:solid 1px #D5D8DC;
    padding-left: 20px;
}

.input-c:focus{

    outline: none;

}
.border-inputs input{

    width: 90%;
    height: 50%;
    border:none;
    margin-bottom: 5px;
}
.border-inputs textarea{
    width: 90%;
    height: 80px;
    border:none;
    margin-bottom: 5px;
}
.border-inputs div:nth-child(3){

    width: 5%;
    height: 100%;
}
.border-inputs div:nth-child(3) span{

    font-size: 1.5rem;

}
.border-inputs input:focus, textarea:focus{

    outline:none;

}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
.inputs-error{
    
    background-color: yellow;

    border-bottom:solid 1px #F20B00;

}
.main-deskotp{
    width: 75px;
    position: fixed;
    z-index: 5;
}
.main-lat-deskotp{
    width: 320px;
    position: fixed;
    top: 0%;
    left: 75px;
    z-index: 5;
}
.main-top-bar{
    width: calc(100% - 75px);
    height: 75px;
    float: right;
}
.main-top-bar-ins{
    width: calc(100% - 75px);
    float: right;
}
.main-content{
    width: calc(100% - 75px);
    float: right;
}
table{
    border-collapse:collapse;
    width: 100%;
}