/*
*Life Desing ClickO y Css Library v1.0.0
*
*Date: 16/07/2020
*
*@Author Filiberto Pérez López
*Licence Shareware
*
*Selected fonts by Aturo
*Slected colors by Arturo
*/

/*
*include Google fonts
/Selected by Arturo
*/
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,600&display=swap');


:root{

    --primary                     :#00B4AD;

    --secondary                   :#1A4786;

    --tertiary                    :#CB233D;

    --error                       :#F20B00;

    --success                     :#19E069;

    --light                       :#FFFFFF;

    --link                        :#1A4786;

    /**--info                        :*/

    --primary-dark                :#02827D;

    --secondary-dark              :#13315C;

    --tertiary-dark               :#931C2E;

    --error-dark                  :#C60E05;

    --success-dark                :#14A24D;

    /*--info-dark                 :*/

   /** --warning-dark             :*/

    --primary-light               :#43DBD5;

    --secondary-light             :#3362A2;

    --tertiary-light              :#CD3F55;

    --error-light                 :#E7534C;

    --success-light               :#4DE88C;

    --font-family-sans-serif      : 'Mulish', sans-serif;

    --font-bold                   : bold;

    --count-wight                 : 600;

    --font-size                   : 0.700rem;

    --sepG-1                      : 7.5px;

    --sepG-2                      : 15px;

    --sepG-3                      : 22.5px;

    --sepG-4                      : 30px;

    --sepG-5                      : 37.5px;

    @media screen only and (max-width: 450px){

        
        
    }

}

html{

    font-family      : var(--font-family-sans-serif);
    
    font-weight      : var(--font-bold);
    
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {

    display: block;

}

body {

    margin           : 0px;

    padding          : 0px;

    font-family      : var(--font-family-sans-serif);
    
    font-size        : var(--font-size);
    
    font-weight      : var(--count-wight);
    
    color            : var(--secondary);
    
    background-color : var(--light);

 }

h1, h2, h3, h4, h5, h6 {

    font-family   : var(--font-family-sans-serif);

    margin-top    : 0;

    margin-bottom : 0.5rem;

}

p {

    margin-top    : 0;

    margin-bottom : 1rem;

}

ol,
ul,
dl {

  margin-top    : 0;

  margin-bottom : 1rem;

}

span,
p,
a,
b{

    font-family : var(--font-family-sans-serif );

    color       : var(--secondary);

    font-size   : 15px;

}

a {

    color            :var(--primary);
  
    text-decoration  : none;
  
    background-color : transparent;
  
  }
  
  
  a:hover {
  
    color           : var(--secondary);
  
    text-decoration : none;
    
  }
  
  a:not([href]) {
  
      color           : inherit;
  
      text-decoration : none;
  
  }
  
  a:not([href]):hover {
  
      color           : inherit;
  
      text-decoration : none;
  
}

table{
    
    border-collapse:collapse;
    width: 100%;

}

thead,tbody{

    font-family  :var(--font-family-sans-serif );
}
thead{

    font-size   : 25px;

    font-weight : var(--count-wight);

}
thead{

    font-size: 17px;

}
th,td{

    padding-top    : 7.5px;

    padding-bottom : 7.5px;

}
.table{

    width: 100%;

}

.thead-primary{

    background-color : var(--primary);

    color            : var(--light);
}
.thead-secondary{

    background-color : var(--secondary);

    color            : var(--light);
}
.thead-tertiary{

    background-color : var(--tertiary);

    color            : var(--secondary);
}
.thead-error{

    background-color : var(--primary);

    color            : var(--secondary);
}
.thead-success{

    background-color : var(--success);

    color            : var(--secondary);
}
.thead-light{

    background-color : var(--light);

    color            : var(--secondary);
}
.thead-info{

    background-color : var(--info);

    color            : var(--secondary);
}

button{

    border-radius    : 20px;

    cursor           : pointer;

    outline          : none;

    background-color : var(--light);

    font-family      : var(--font-family-sans-serif);
}

.buttn{

    padding-top     : 15px;

    padding-bottom  : 15px;

    padding-left    : 30px;

    padding-right   : 30px;

    border          : none;

}

.icon{

    border-radius : 50%;

}

.bttn-primary{

    background-color : var(--primary);

    color            :var(--light);

    border           :var(--primary);

}

.bttn-primary:hover{


    background-color : var(--primary-dark);


}

.bttn-secondary{

    background-color : var(--secondary);

    color            :var(--light);

    border           :var(--secondary);

}

.bttn-secondary:hover{


    background-color : var(--secondary-dark);

    border           : var(--secondary-dark);


}

.bttn-tertiary{

    background-color : var(--tertiary);

    color            :var(--light);

    border           :var(--tertiary);

}

.bttn-tertiary:hover{


    background-color : var(--tertiary-dark);

    border           : var(--tertiary-dark);


}

.bttn-error{

    background-color : var(--error);

    color            :var(--light);

}

.bttn-error:hover{


    background-color : var(--error-dark);

    border           :solid 10px var(--error);

}

.bttn-success{

    background-color : var(--success);

    color            :var(--light);

    border           : var(--success);

}

.bttn-success:hover{


    background-color : var(--success-dark);

    border           : var(--success-dark);


}

.bttn-link{

    background-color : transparent;

    color            :var(--link);

    border           : none;

}

.bttn-link:hover{


   color  : var(--primary);


}

input{

    border-radius    : 5px;

    padding          : 10px;

    background-color : white;

    font-family      : var(--font-family-sans-serif);

    border           :solid 2px var(--primary-dark);

    
}

input:focus{

    border          :solid 2px var(--primary-light);

    border-radius   : 5px;

    outline         :none;
    
}

.form-item{

    width : 100%;

}

.content{

    width        : 75%;

    margin-left  : 12.5%;

    margin-right : 12.5%;

}

.navbar{

    padding-left   : var(--sepG-3);

    padding-top    : var(--sepG-3);

    padding-bottom : var(--sepG-3);


}

/* padding lef*/
.pgl-1{

    padding-left : var(--sepG-1);

}
.pgl-2{

    padding-left : var(--sepG-2);

}
.pgl-3{

    padding-left : var(--sepG-3);

}
.pgl-4{

    padding-left : var(--sepG-4);

}
.pgl-5{

    padding-left : var(--sepG-5);

}

/* padding right*/

.pgr-1{

    padding-right : var(--sepG-1);

}
.pgr-2{

    padding-right : var(--sepG-2);

}
.pgr-3{

    padding-right : var(--sepG-3);

}
.pgr-4{

    padding-right : var(--sepG-4);

}
.pgr-5{

    padding-right : var(--sepG-5);

}

/* padding top*/

.pgt-1{

    padding-top : var(--sepG-1);

}
.pgt-2{

    padding-top : var(--sepG-2);

}
.pgt-3{

    padding-top : var(--sepG-3);

}
.pgt-4{

    padding-top : var(--sepG-4);

}
.pgt-5{

    padding-top : var(--sepG-5);

}

/* padding bottom*/

.pgb-1{

    padding-bottom : var(--sepG-1);

}
.pgb-2{

    padding-bottom : var(--sepG-2);

}
.pgb-3{

    padding-bottom : var(--sepG-3);

}
.pgb-4{

    padding-bottom : var(--sepG-4);

}
.pgb-5{

    padding-bottom : var(--sepG-5);

}

/* padding x */
.pgx-1{

    padding-right : var(--sepG-1);

    padding-left  :  var(--sepG-1);

}

.pgx-2{

    padding-right : var(--sepG-2);

    padding-left  : var(--sepG-2);

}

.pgx-3{

    padding-right : var(--sepG-3);

    padding-left  : var(--sepG-3);

}

.pgx-4{

    padding-right : var(--sepG-4);

    padding-left  : var(--sepG-4);

}

.pgx-5{

    padding-right : var(--sepG-5);

    padding-left  : var(--sepG-5);

}

/* padding y */

.pgy-1{

    padding-top :  var(--sepG-1);

    padding-bottom  :  var(--sepG-1);

}

.pgy-2{

    padding-top : var(--sepG-2);

    padding-bottom  : var(--sepG-2);

}

.pgy-3{

    padding-top : var(--sepG-3);

    padding-bottom  : var(--sepG-3);

}

.pgy-4{

    padding-top : var(--sepG-4);

    padding-bottom  : var(--sepG-4);

}

.pgy-5{

    padding-top : var(--sepG-5);

    padding-bottom  : var(--sepG-5);

}

/* margin lef*/
.mgl-1{

    margin-left: var(--sepG-1);

}
.mgl-2{

    margin-left: var(--sepG-2);

}
.mgl-3{

    margin-left: var(--sepG-3);

}
.mgl-4{

    margin-left: var(--sepG-4);

}
.mgl-5{

    margin-left: var(--sepG-5);

}

/* padding right*/

.mgr-1{

    margin-right: var(--sepG-1);

}
.mgr-2{

    margin-right: var(--sepG-2);

}
.mgr-3{

    margin-right: var(--sepG-3);

}
.mgr-4{

    margin-right: var(--sepG-4);

}
.mgr-5{

    margin-right: var(--sepG-5);

}

/* padding top*/

.mgt-1{

    margin-top: var(--sepG-1);

}
.mgt-2{

    margin-top: var(--sepG-2);

}
.mgt-3{

    margin-top: var(--sepG-3);

}
.mgt-4{

    margin-top: var(--sepG-4);

}
.mgt-5{

    margin-top: var(--sepG-5);

}

/* padding bottom*/

.mgb-1{

    margin-bottom: var(--sepG-1);

}
.mgb-2{

    margin-bottom: var(--sepG-2);

}
.mgb-3{

    margin-bottom: var(--sepG-3);

}
.mgb-4{

    margin-bottom: var(--sepG-4);

}
.mgb-5{

    margin-bottom: var(--sepG-5);

}

/* margin x */
.pmx-1{

    margin-right : var(--sepG-1);

    margin-left  :  var(--sepG-1);

}

.pmx-2{

    margin-right : var(--sepG-2);

    margin-left  : var(--sepG-2);

}

.pmx-3{

    margin-right : var(--sepG-3);

    margin-left  : var(--sepG-3);

}

.pmx-4{

    margin-right : var(--sepG-4);

    margin-left  : var(--sepG-4);

}

.pmx-5{

    margin-right : var(--sepG-5);

    margin-left  : var(--sepG-5);

}

/* padding y */

.pmy-1{

    margin-top :  var(--sepG-1);

    margin-bottom  :  var(--sepG-1);

}

.pmy-2{

    margin-top : var(--sepG-2);

    margin-bottom  : var(--sepG-2);

}

.pmy-3{

    margin-top : var(--sepG-3);

    margin-bottom  : var(--sepG-3);

}

.pmy-4{

    margin-top : var(--sepG-4);

    margin-bottom  : var(--sepG-4);

}

.pmy-5{

    margin-top : var(--sepG-5);

    margin-bottom  : var(--sepG-5);

}

.pn-wt-1{

    width:10%;

    box-sizing:border-box;

}

.pn-wt-2{

    width:20%;

    box-sizing:border-box;

}

.pn-wt-3{

    width:30%;

    box-sizing:border-box;

}

.pn-wt-4{

    width:40%;

    box-sizing:border-box;

}

.pn-wt-5{

    width:50%;

    box-sizing:border-box;

}

.pn-wt-6{

    width:60%;

    box-sizing:border-box;

}

.pn-wt-7{

    width:70%;

    box-sizing:border-box;

}

.pn-wt-8{

    width:80%;

    box-sizing:border-box;

}

.pn-wt-9{

    width:90%;

    box-sizing:border-box;

}

.pn-wt-10{

    width:100%;

    box-sizing:border-box;

}
.mv-wh-1{

    margin-left: 10%;
}
.mv-wh-2{

    margin-left: 20%;
}
.mv-wh-3{

    margin-left: 30%;
}
.mv-wh-4{

    margin-left: 40%;
}
.mv-wh-5{

    margin-left: 50%;
}
.mv-wh-6{

    margin-left: 60%;
}
.mv-wh-7{

    margin-left: 70%;
}
.mv-wh-8{

    margin-left: 80%;
}
.mv-wh-9{

    margin-left: 90%;
}
.mv-wh-10{

    margin-left: 100%;
}
.bgc-primary{

    background-color: var(--primary);

}
.bgc-secondary{

    background-color: var(--secondary);

}
.bgc-tertiary{

    background-color: var(--tertiary);

}
.bgc-error{

    background-color: var(--error);

}
.bgc-success{

    background-color: var(--success);

}
.bgc-link{

    background-color: var(--link);

}
.tex-secondary{

    color: var(--secondary);

}
@media only screen and (max-width:450px){

    .content{

        width        : 100%;
            
        margin-left  : 0%;

        margin-right : 0%;

    }
    .pn-wt-1,
    .pn-wt-2,
    .pn-wt-3,
    .pn-wt-4,
    .pn-wt-5,
    .pn-wt-6,
    .pn-wt-7,
    .pn-wt-8,
    .pn-wt-9,
    .pn-wt-10{

        width : 100%;
    
    }
    .mv-wh-1,
    .mv-wh-2,
    .mv-wh-3,
    .mv-wh-4,
    .mv-wh-5,
    .mv-wh-6,
    .mv-wh-7,
    .mv-wh-8,
    .mv-wh-9,
    .mv-wh-10{

        margin-left : 0%;
    }

    .navbar{

        text-align      : center;

        padding-left    : 0;

    }
    
}

