<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" href="<%= BASE_URL %>style/bootstrap-flaty.css">
    <link rel="stylesheet" href="<%= BASE_URL %>style/index.css">
    <link rel="stylesheet" href="<%= BASE_URL %>font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="<%= BASE_URL %>font-awesome/css/font-awesome.css">
    <meta name="google-signin-client_id" content="280788420046-2ga9mi79k6ge17bc58sajmpfma63d6lj.apps.googleusercontent.com">
    <script src="https://kit.fontawesome.com/995781674f.js" crossorigin="anonymous"></script>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app">
      <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
      <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
   </div>
  </body>
</html>
