#pnRegistro{

    margin-top: 25px;

}
.imgRegistros{

    width: 100px;
    height: 100px;

}
.cr-pointer{

    cursor: pointer;

}
.hover-color:hover{

    background-color: #1A4786;
    color:white;
}
.hover-optiones:hover{

   background-color: #00B4AD;
   color: white;

}
.color-option{

    background-color: #00B4AD;
    color:white;

}
