.border-inputs input{

    width: 90%;
    height: 50%;
    border:none;
    margin-bottom: 5px;
}
.border-inputs div:nth-child(3){

    width: 5%;
    height: 100%;
}
.border-inputs div:nth-child(3) span{

    font-size: 1.5rem;

}
.border-inputs input:focus{

    outline:none;

}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
.inputs-error{
    
    background-color: yellow;

    border-bottom:solid 1px #F20B00;

}